#titoletto{
    background-color: aquamarine;
    text-align: center;
}
body{
    text-align: center;
}
ol{
    text-align: center;
}
li{
    text-align: center;
}
ul{
    text-align: center;
}
#blocco1{
    margin: 0 500 0 500;
    border: solid black 2px;
    background-color: aquamarine;
    border-radius: 5px;
}
#blocco2{
    border: solid black 2px;
    background-color: aquamarine;
    border-radius: 5px;
}