#titoletto{
    background-color: aquamarine;
    border: solid 10 px aquamarine;
    text-align: center;
    border-radius: 5px;
    display: inline;
}
body{
    margin: 0 0 50px 0;
    text-align: center;
}
ol{
    text-align: center;
    list-style-position: inside;
}
ul{
    text-align: center;
    list-style-position: inside;
}
#blocco1{
    margin: 0 350px 0 350px;
    border: solid black 2px;
    background-color: aquamarine;
    border-radius: 5px;
}
#blocco2{
    margin: 0 300px 0 300px;
    border: solid black 2px;
    background-color: aquamarine;
    border-radius: 5px;
}