#titoletto{
    border-radius: 5px;
    text-align: center;
}
#blocco1{
    width: 150px;
    border: solid black 2px;
    background-color: white;
    border-radius: 5px;
}
#blocco2{
    width: 150px;
    border: solid black 2px;
    background-color: white;
    border-radius: 5px;
}
html{
    background-color:paleturquoise;
}
.container{
    display:flex;
    flex-direction: row;
}