#fratelli,#pata,#livia,#vieste,#eat{
    height: 200px;
    border-radius: 30px 30px 30px 30px;
}
figure{
    display: inline-block;
}
figcaption{
    text-align: center;
}
#titolo{
    text-align: center;
    border: solid 10px red;
    margin: 0 400px 0 400px;
}