#fratelli{
    height: 200px;
    border-radius: 10px 40px 10px 40px;
}
#pata{
    height: 200px;
    border-radius: 10px 10px 10px 10px;
}
#eat{
    height: 200px;
    border-radius: 10px 10px 10px 10px;
}
#vieste{
    height: 200px;
    border-radius: 10px 10px 10px 10px;
}
#livia{
    height: 200px;
    border-radius: 10px 10px 10px 10px;
    width: 20%;
}
#titolo{
    text-align: center;
    border: solid 10px red;
    margin: 0 400px 0 400px;
}